.footer {
  background-color: #486b92;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;

  a {
    color: #0055ff;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
