.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

.image {
  border-radius: 12px;
  margin-bottom: 1rem;
}

.total {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #444;
}

.input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1rem;

  &:focus {
    border-color: #cc2b5e;
    outline: none;
  }
}

.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.payButton {
  margin-top: 1.5rem;
  width: 100%;
  background: #cc2b5e;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #b3004d;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.qrSection {
  margin-top: 1rem;

  p {
    margin-top: 1rem;
    font-weight: 500;
    color: #444;
  }
}

.contributors {
  margin-top: 2rem;
  text-align: left;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #333;
  }

  p {
    color: #444;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #f2f2f2;
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      color: #444;
      font-size: 0.95rem;
    }
  }
}


.giftTitle{
  color: #444;
  margin-bottom: 1rem;
}

